/* dark mode using media query */
/*
@media (prefers-color-scheme: light) {
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:#fafafa}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}
}
@media (prefers-color-scheme: dark) {
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}
}
*/

/* dark mode using .dark class toggle */
.hljs {
    --color-1: #383a42;
  --color-2: #fafafa;
  --color-3: #a0a1a7;
  --color-4: #a626a4;
  --color-5: #e45649;
  --color-6: #0184bb;
  --color-7: #50a14f;
  --color-8: #986801;
  --color-9: #4078f2;
  --color-10: #c18401;
}
:is(.dark .hljs) {
    --color-1: #abb2bf;
    --color-2: #282c34;
    --color-3: #5c6370;
    --color-4: #c678dd;
    --color-5: #e06c75;
    --color-6: #56b6c2;
    --color-7: #98c379;
    --color-8: #d19a66;
    --color-9: #61aeee;
    --color-10: #e6c07b;
}



pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: var(--color-1);
  background: var(--color-2);
}
.hljs-comment,
.hljs-quote {
  color: var(--color-3);
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--color-4);
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--color-5);
}
.hljs-literal {
  color: var(--color-6);
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--color-7);
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--color-8);
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--color-9);
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--color-10);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}

/* line number implementation */
pre code {
  padding: 0 !important;
}
.hljs-ln {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 100% !important;
  font: inherit !important;
  vertical-align: baseline !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.hljs-ln tbody tr {
  background: transparent;
  border: 0;
}
.hljs-ln tbody tr td {
  padding: 0px 5px 0px 10px;
  border: 0;
}
.hljs-ln-numbers {
  border-right: 1px solid var(--color-border-default) !important;
  color: var(--color-fg-muted);
}
