{% extends "layout.html" %}
{% block listblock%}
                    <div class="md:pl-5">
                        {% for element in list%}
                        <a class="anc" href="{{element.link}}">
                            <div class="mb-2 py-3 px-5 border-customlight-700 dark:border-customdark-400 bg-gray-100 dark:bg-gray-700 hover:bg-customlight-700 dark:hover:bg-customdark-400 text-gray-700 hover:text-gray-200 dark:text-gray-200 dark:hover:text-gray-900">
                                <p class="text-2xl font-semibold">
                                {{element.title}}
                                </p>
                                {% if element.child_node > 0 %}
                                <p class="text-xs">
                                {{element.child_node}} child nodes
                                </p>
                                {% else %}
                                <div class="pb-1 italic font-semibold ">
                                <p class="text-xs inline-block underline decoration-solid">
                                {{element.created_at}}
                                </p>
                                <p class="text-xs inline-block underline decoration-solid">
                                {{element.author}}
                                </p>
                                </div>
                                <p class="text-xs break-words">
                                {{element.summarize}}
                                </p>
                                {% endif %}
                            </div>
                        </a>
                        {% endfor %}
                        <div class="my-3">
                            <div class="flex mx-auto w-min bg-gray-100 dark:bg-gray-700 text-sm">
                                {% if prop.paged == true%}
                                <a class="anc inline w-8 h-8 hover:bg-customlight-700 dark:hover:bg-customdark-400 text-gray-700 hover:text-gray-200 dark:text-gray-200 dark:hover:text-gray-900" href="{{prop.bottom_href}}">
                                    <div class="w-8 h-8 p-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                                    </div>
                                </a>
                                {% endif %}
                                {% for page in pages%}
                                    {% if page.cursor == true %}
                                    <a class="anc inline w-8 h-8 bg-customlight-700 dark:bg-customdark-400 text-gray-200 dark:text-gray-900" href="{{page.href}}">
                                        <p class="leading-8 text-center cursor-pointer">{{page.index}}</p>
                                    </a>
                                    {% else %}
                                    <a class="anc inline w-8 h-8 hover:bg-customlight-700 dark:hover:bg-customdark-400 text-gray-700 hover:text-gray-200 dark:text-gray-200 dark:hover:text-gray-900" href="{{page.href}}">
                                        <p class="leading-8 text-center cursor-pointer">{{page.index}}</p>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                                {% if prop.paged == true%}
                                <a class="anc inline w-8 h-8 hover:bg-customlight-700 dark:hover:bg-customdark-400 text-gray-700 hover:text-gray-200 dark:text-gray-200 dark:hover:text-gray-900" href="{{prop.top_href}}">
                                    <div class="w-8 h-8 p-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
                                    </div>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock listblock%}
