{% extends "layout.html" %}
{% block listblock%}
<div>
    {% for element in list%}
    <a class="anc" href="{{element.link}}">
        <div class="mb-2 py-3 px-5 border-l-4 border-blue-700 dark:border-blue-400 bg-gray-100 dark:bg-gray-700 hover:bg-blue-700 dark:hover:bg-blue-400 text-gray-700 hover:text-gray-200 dark:text-gray-200 dark:hover:text-gray-900">
            <p class="text-2xl font-semibold">
            {{element.title}}
            </p>
            <p class="text-xs">
            {{element.summarize}}
            </p>
            <p class="text-xs text-right">
            {{element.created_at}}
            </p>
            <p class="text-xs text-right">
            {{element.author}}
            </p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock listblock%}
