<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/dist/main.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    </head>
    <body class="dark:bg-black">
        <script type="module">
            import init, {Ground, Index} from '/static/dist/render.js'
            async function run(){
                await init();
                let g = Ground.new();
                await g.add(window.location.pathname);
                await g.load(window.location.pathname);
                document.querySelector("html").addEventListener('click', async function(e) {
                    e.preventDefault();
                    var anchor = e.target.closest('a');
                    if(anchor !== null) {
                        try {
                            await g.load(anchor.href);
                        } catch(e) {
                            window.location.href = anchor.href;
                        }
                    }
                }, false);
                let n = Index.new();
                await n.load("/static/searchindex");
                window.n = n;
                window.search = async function(e) {
                    let text = document.getElementById(`search_input`).value;
                    await n.search(text); 
                }
                window.hljs.highlightAll();
                window.hljs.initLineNumbersOnLoad();
            }
            run();
        </script>

        <div id="main" class="p-5 md:container md:mx-auto lg:px-20 py-5 xl:px-48 box-border h-screen w-screen">

                    <a href="/">
                        <div class="flex flex-col mb-2 text-blue-700 hover:text-gray-900 dark:text-blue-400 dark:hover:text-gray-200 transition-all duration-500 ease-in-out border-b-4 border-blue-700 dark:border-blue-400">
                            <p class="text-left text-3xl lg:text-4xl font-bold">blog.argnmp</p>
                        </div>
                    </a>
            <div class="grid grid-cols-1 md:grid-cols-12 gap-2">
                <div class="md:col-span-3">
                    <div class="flex md:flex-col p-2 text-gray-900 dark:text-gray-200">
                        <div class="w-full md:object-center basis-1/4">
                            <img class="w-full max-w-sm mx-auto rounded-full ring-2 p-2" src="https://avatars.githubusercontent.com/u/145034257?v=4" />
                        </div>
                        <div class="grow pl-4 md:p-0">
                            <p class="text-2xl md:mt-3 md:text-center mb-2 font-bold">argnmp</p>
                            <p class="text-xs md:text-center">컴퓨터공학 관련 주제를 주로 다룹니다.</p>
                            <p class="text-xs md:text-center">argnmp@gmail.com</p>
                            <p class="text-xs md:text-center"><a class="text-xs" href="https://github.com/argnmp">github</a></p>
                        </div>
                    </div>
                    <div>
                        <div class="py-2">
                            <form class="flex md:flex-col">
                                <input type="text" name="search" id="search_input" class="inline w-full rounded-md border-0 py-1 px-2 mr-2 md:mr-0 md:mb-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 dark:focus:ring-blue-300 sm:text-sm sm:leading-6 dark:bg-gray-500 dark:text-gray-200" onkeyup="window.search()">
                                <input type="submit" name="submit" id="submit" class="inline bg-blue-700 hover:bg-white hover:text-blue-700 border border-blue-700 dark:border-blue-400 text-gray-200 dark:bg-blue-400 dark:text-gray-900 hover:dark:bg-gray-500 hover:dark:text-gray-200 rounded-md px-2 text-sm cursor-pointer md:w-full" onclick="window.search()" value="search">
                            </form>
                        </div>
                        <div class="" id="search_result">
                            <a class="" href="">
                                <div class="mb-1 px-2 py-1 border border-gray-200 dark:border-gray-600 dark:text-gray-200 hidden">
                                </div> 
                            </a>
                        </div> 
                    </div>
                </div>
                <div class="grid-flow-row md:col-span-9 rounded-lg">
                    
                     
<article>
    <section class="w-full">
        <div class="px-5 mb-2">
            <p class="text-5xl font-bold text-gray-700 dark:text-gray-200 border-blue-700 dark:border-blue-400 py-1">boj 1039 교환</p>
        </div>
        <div class="px-5 mb-2">
            <table class="text-left text-sm">
                <tbody>
                    <tr class="">
                        <th scope="row" class="pr-4">
                            alias
                        </th>
                        <td class="">undefined</td>
                    </tr>
                    <tr class="">
                        <th scope="row" class="pr-4">
                            author
                        </th>
                        <td class="">Taehyeon Kim</td>
                    </tr>
                    <tr class="">
                        <th scope="row" class="pr-4">
                            created at
                        </th>
                        <td class="">2023-10-17</td>
                    </tr>
                    <tr class="">
                        <th scope="row" class="pr-4">
                            tags 
                        </th>
                        <td class="">
                            <p class="inline">boj </p>
                            <p class="inline">ps </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="clear-none markdown-body p-5 border-blue-700 dark:border-blue-400 mb-2">
        <h3>코드</h3>
<pre><code class="language-c++">#include &lt;iostream&gt;
#include &lt;algorithm&gt;
#include &lt;climits&gt;
#include &lt;string&gt;
#include &lt;vector&gt;
#include &lt;queue&gt;
#include &lt;map&gt;
#include &lt;unordered_map&gt;
#include &lt;set&gt;
#include &lt;unordered_set&gt;
#include &lt;bitset&gt;
#include &lt;cstring&gt;
using namespace std;
using ll = long long;
string n;
int nn, k, ans = INT_MIN;
int memo[1000001][11] = {0,};
struct box{
    string n;
    int dist;
};

void solve(){
    cin &gt;&gt; n &gt;&gt; k;
    nn = n.length();
    queue&lt;box&gt; q;
    q.push({n, 0});
    while(!q.empty()){
        box t = q.front();
        q.pop();
        if(t.dist==k){
            ans = max(ans, stoi(t.n)); 
            continue;
        }
        for(int i = 0; i&lt;nn-1; i++){
            for(int j = i+1; j&lt;nn; j++){
                if(!(i==0 &amp;&amp; t.n[j]=='0')){
                    swap(t.n[i], t.n[j]);
                    box nt = {t.n, t.dist + 1};
                    if(memo[stoi(nt.n)][nt.dist]==0){
                        memo[stoi(nt.n)][nt.dist] = 1;
                        q.push(nt);
                    }
                    swap(t.n[i], t.n[j]);
                }             
            }
        } 
    }
    if(ans==INT_MIN)
        cout &lt;&lt; -1;
    else
        cout &lt;&lt; ans;
    
}
int main(){
    ios::sync_with_stdio(0);
    cin.tie(0);
    solve(); 
    return 0;
}

</code></pre>
<h3>풀이</h3>
<ul>
<li>언뜻봐서는 6C2 ^ 10 으로 시간내에 전체 탐색이 불가능해 보인다. 하지만, 실제로는 중복된 경우가 많이 발생하기 때문에 충분히 시간내에 해결이 가능하다.</li>
<li>중복된 것의 의미는 다음과 같다
<ul>
<li>12345 라는 숫자가 있을 때, 2번 교환을 한다고 해보자</li>
<li>1과 2를 2번 교환한다면 12345가 나온다</li>
<li>1과 3을 2번 교환한다면 12345가 나온다.</li>
<li>... 이런식으로 2번 교환했을 때 12345가 매우 많이 중복이 된다.</li>
</ul>
</li>
<li>따라서 중복되는 경우를 한번씩만 계산하도록 2차원 배열로 memo를 해두고, 1번 교환 부터 K번 교환까지 점점 늘려가면서 BFS를 해주면 된다.</li>
</ul>
<h3>느낀점</h3>
<ul>
<li>풀지 못해서 풀이를 봤다.</li>
<li>너무 복잡하게 풀려고 생각하다보니, 핵심을 놓친듯 하다. 문제를 단순하게 보려고 노력하자.</li>
</ul>

    </div>
</article>

                </div>
            </div> 
        </div>
    </body>
</html>

